.genre-filter-ctr {
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}

.genre-filter-form {
  width: 100%;
}

.genre-filter__control {
  height: 50px;
  border: 1px solid #e1e1e1;
  border-radius: 4px !important;
  background-color: unset !important;
  color: unset;
  padding: 0 12px;
}

.genre-filter__menu {
  background-color: #6c6c6c !important;
}

.genre-filter__placeholder {
  color: unset !important;
}

.genre-filter__indicator-separator {
  display: none;
}

.genre-filter__option {
  background-color: unset !important;
}

.genre-filter__option--is-focused {
  background-color: rgba(40, 40, 40, 0.2) !important;
}

@media (min-width: 576px) {
  .genre-filter-ctr {
    justify-content: flex-start;
  }

  .genre-filter-form {
    width: 260px;
  }
}
