.custom-container {
  margin-top: 18px;
}

.reviews-page-title h1 {
  margin-bottom: 18px;
  padding-right: 20px;
  font-size: 24px;
  letter-spacing: -0.015em;
}

.reviews-group {
  padding: 18px 10px 3px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .custom-container {
    margin-top: 24px;
  }

  .reviews-page-title h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .reviews-group {
    padding: 18px 15px 3px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    margin-top: 30px;
    padding: 0 22px;
  }

  .reviews-page-title h1 {
    font-size: 32px;
    margin-bottom: 22px;
  }

  .reviews-group {
    padding: 16px 18px 1px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    margin-top: 36px;
    padding: 0 30px;
  }

  .reviews-page-title h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    padding: 0 40px;
  }

  .reviews-page-title h1 {
    font-size: 48px;
  }
}
