.custom-navbar {
    height: 70px;
}

.custom-brand {
  font-size: 24px;
  letter-spacing: -0.015em;
}

.custom-btn {
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.015em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-nav-container {
  max-width: 1088px;
}
