.moviecard-ctr {
  min-height: 325px;
  padding: 25px 0;
  margin-bottom: 20px;
}

.moviecard-img-ctr {
  margin-bottom: 10px;
}

.moviecard-img-ctr img {
  width: 100%;
}

.moviecard-txt-ctr {
  padding: 0 15px;
}

.moviecard-txt-ctr h2 {
  font-size: 20px;
}

.moviecard-year {
  font-weight: 700;
  color: #ffc700;
}

.moviecard-subtitle {
  font-size: 14px;
}

@media (min-width: 576px) {
  .moviecard-subtitle {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .moviecard-ctr {
    min-height: 365px;
  }

  .moviecard-subtitle {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .moviecard-ctr {
    min-height: 460px;
  }
}

@media (min-width: 1200px) {
  .moviecard-ctr {
    min-height: 325px;
  }

  .moviecard-subtitle {
    width: 80%;
  }
}
