.movies-list-ctr {
  padding: 0 10px;
}

.title-ctr {
  margin-top: 12px;
  margin-bottom: 50px;
}

.title-ctr h1 {
  font-size: 24px;
}

.list-movies-ctr {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .title-ctr {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .title-ctr h1 {
    font-size: 36px;
  }

  .list-movies-ctr p {
    margin-bottom: 18px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .title-ctr {
    margin-top: 30px;
  }

  .title-ctr h1 {
    font-size: 42px;
  }

  .list-movies-ctr p {
    margin-bottom: 24px;
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .title-ctr {
    margin-top: 40px;
  }

  .title-ctr h1 {
    font-size: 48px;
  }

  .list-movies-ctr p {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
