.movies-page-ctr {
  padding: 20px 10px 30px;
}

.list-movies-ctr {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

@media (min-width: 576px) {
  .movies-page-ctr {
    padding: 20px 20px 30px;
  }

  .list-movies-ctr {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .movies-page-ctr {
    padding: 40px 40px 50px;
  }

  .list-movies-ctr {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .movies-page-ctr {
    max-width: 1120px;
    margin: auto;
  }
}
